
*.ide
*/.vs/*
cast/Monster/.vs/*
cast/*/.vs/*
cast/*/bin/*
cast/*/obj/*
cast/*/*/bin/*
cast/*/*/obj/*
*.dll
*.pdb
*.cache
cast/Moreover/.vs/*
cast/Moreover/Api.Manage/bin/*
cast/Moreover/DapperContext/obj/*
cast/Moreover/TestConsole/obj/*
cast/Moreover/TestConsole/obj/*
cast/Moreover/.vs/Moreover/v15/Server/sqlite3/storage.ide-wal
cast/Moreover/Api.Manage/bin/IISSupport/pidfile.txt
cast/Moreover/.vs/Moreover/v15/Server/sqlite3/storage.ide-shm
cast/Moreover/.vs/Moreover/v15/.suo
cast/Moreover/.vs/Moreover/v15/Server/sqlite3/storage.ide-shm
cast/Moreover/Api.Manage/bin/IISSupport/pidfile.txt
cast/Moreover/Api.Manage/obj/Api.Manage.csproj.nuget.g.targets
cast/Moreover/Api.Manage/obj/Debug/netcoreapp2.1/Api.Manage.csproj.FileListAbsolute.txt
cast/Moreover/Api.Manage/obj/project.assets.json
cast/Moreover/Command.RedisHelper/obj/Command.RedisHelper.csproj.nuget.g.props
cast/Moreover/Command.RedisHelper/obj/*
cast/Moreover/Command.RedisHelper/obj/Debug/netstandard2.0/Command.RedisHelper.assets.cache
cast/Moreover/Command.RedisHelper/obj/Debug/netstandard2.0/Command.RedisHelper.csproj.FileListAbsolute.txt
cast/Moreover/Command.RedisHelper/obj/project.assets.json
*.csproj
*.props
cast/Moreover/DapperContext/obj/Debug/netstandard2.0/DapperContext.csproj.FileListAbsolute.txt
cast/Moreover/DapperContext/obj/project.assets.json
*.cache
cast/Moreover/Model.Article/obj/Debug/netstandard2.0/Model.Article.csproj.FileListAbsolute.txt
*.props
cast/Moreover/Model.Article/obj/project.assets.json
cast/Moreover/Model.Common/obj/Debug/netstandard2.0/Model.Common.csproj.FileListAbsolute.txt
cast/Moreover/Model.Common/obj/project.assets.json
*.targets
cast/Moreover/Monster.AuthServer/obj/project.assets.json
cast/Moreover/UnitTestProject1/obj/Debug/netcoreapp2.1/UnitTestProject1.csproj.FileListAbsolute.txt
cast/Moreover/UnitTestProject1/obj/project.assets.json
*.props
*.targets
