################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/cast/Monster/.vs/Monster/v15/Server/sqlite3/storage.ide-wal
/cast/Monster/.vs/Monster/v15/Server/sqlite3/storage.ide-shm
/cast/Monster/Container/bin/Debug/netstandard2.0
